.basic3-btn {
	float: none;
	position: relative;
	
	margin: 0 0 20px 0;
	padding:  5px 0 0 0;
	width: 176px;
	height: 30px;	  
	
	color: #FFFFFF;	
	
	font-size: 15px;

	&:focus,
	&:hover,
	&.active {	
		background: @btn-default-bg;
	} 
}

.basic20 {			
	background:#FC0E18;		
} 

.basic21 {			
	background:#FD1A23;
} 

.basic22 {	
	background:#FC6823;		
}

.basic23 {	
	background:#FCC823;
}

.basic24 {	
	background:#D1FC23;
}

.basic25 {			
	background:#187E0E;
}

.basic26 {	
	background:#187E0E;
}
	