.scale1 {
	.btn-gradient {
		.btn-default();
		background-color: rgba(0,0,0,0);
		border: 0px;
		
		&:active,
		&.active {
			background-color: @btn-default-bg;
			border-color: @brand-primary;
			box-shadow: none;
		}

		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			.opacity(.2);
		}

		&:focus {
		}

		&:hover,
		&:focus {
			.opacity(.3);
			color: @btn-default-color;
			// color: #fff;
		}

	}

	#gradient > .horizontal-three-colors(@brand-danger, @brand-warning, 50%, @brand-success);
}
